h1,
h2 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 15px;
}
li {
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
li:first-letter {
  text-transform: capitalize;
}

.container {
  margin: 30px auto;
  max-width: 1000px;
}
.weather-app {
  border: 1px;
  border-radius: 20px;
  margin-top: 60px;
  padding: 20px;
  display: center;
  background: linear-gradient(
    rgba(40, 43, 94) 0%,
    rgba(123, 90, 137) 61%,
    rgba(176, 131, 161) 85%
  );
  height: 500px;
}
.btn {
  background-color: rgba(40, 43, 94);
  border-color: rgba(40, 43, 94);
  width: 100px;
  margin-left: 5px;
}
.btn:hover {
  background: rgba(69, 59, 109);
  border-color: rgba(69, 59, 109);
}
.col-4 {
  margin-top: 65px;
  color: white;
}

.current-temp .units {
  position: relative;
  font-size: 16px;
  top: -8px;
}
.units {
  color: white;
  cursor: default;
}

.overview {
  margin-top: 20px;
}
.units .active {
  color: white;
  cursor: default;
}
a {
  text-decoration: none;
}

.col-4 {
  margin-bottom: 40px;
}
.active {
  text-decoration: none;
  color: black;
}

.weather-forecast {
  margin-top: 50px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.weather-forecast-temperature {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
